<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@android:drawable/ic_lock_lock"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.NachweisProver">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Two-device handoff link from the investor's browser: nachweis://handoff?v=1&s=...&a=...&c=...&r=...&b=... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nachweis" android:host="handoff" />
            </intent-filter>
        </activity>
    </application>
</manifest>
